/* variables */
$tooltip-padding-x : 2rem;
$tooltip-padding-y : 1rem;
$tooltip-bg-color : #212121;
$tooltip-text-color : white;
$color-list : ("blue" : #2962ff, "dark" : #263238, "red" : #f50057, "yellow": #ffc400, "purple" : #6200ea);
$btn-padding-y : 1rem;
$btn-padding-x : 2rem;
$btn-text-color : white;
$btn-border-radius : 0.5rem;
$btn-focus-border-color : #757575;
